body {
    margin: 0;
    padding: 0;
}


.container {
    height: 100vh;
    width: 100vw;
    background-color: brown;
    color: white;
    padding-top: 20px;
}

.spacer {
    background-color: rgb(37, 37, 37);
    width: 100vw;
    height: 5px;
    margin-top: 5px;
}